@inject TTAWeb.WebMenuService menus
@using System.Linq

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>

    <style>      

        li .glyphicon {
            margin-right: 10px;
        }

        /* Highlighting rules for nav menu items */
        li.link-active a,
        li.link-active a:hover,
        li.link-active a:focus {
            background-color: #4189C7;
            color: white;
        }

        /* Keep the nav menu independent of scrolling and on top of other items */
        .main-nav {
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            z-index: 1;
        }

        .main-nav {
            height: 100%;
            width: calc(20% - 20px);
        }
        .navbar {
            border-radius: 0px;
            border-width: 0px;
            height: 100%;
        }
        .navbar-header {
            float: none;
        }
        .navbar-fixed-bottom {
            float: none;
        }
        .navbar-collapse {
            border-top: 1px solid #444;
            padding: 0px;
        }
        .navbar ul {
            float: none;
        }
        .navbar li {
            float: none;
            font-size: 15px;
            margin: 6px;
        }
        .navbar li a {
            padding: 12px 16px;
            border-radius: 4px;
        }
        .navbar a {
            /* If a menu item's text is too long, truncate it */
            width: 100%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

    </style>

</head>

<body>

    <div class='main-nav'>

        <div class='navbar navbar-inverse'>

            <div class='navbar-header'>
                <button type='button' class='navbar-toggle' data-toggle='collapse' data-target='.navbar-collapse'>
                    <span class='sr-only'>Toggle navigation</span>
                    <span class='icon-bar'></span>
                    <span class='icon-bar'></span>
                    <span class='icon-bar'></span>
                </button>
                <a class='navbar-brand' [routerLink]="['/home']">TTA Web</a>
            </div>

            <div class='clearfix'></div>
            
            <div class='navbar-collapse collapse'>

                @{ string webMenu; }
                @{ webMenu = await menus.GetWebMenu(); }

                @Html.Raw(webMenu)

                @await Html.PartialAsync("_SigninPartial")

            </div>

            <div class='navbar-fixed-bottom'>
                <button type='button'></button>
                <a class='navbar-brand' [routerLinkActive]="['link-active']" [routerLink]="['/account/signout']">Logout</a>
            </div>
        </div>
    </div>

    <div class="container body-content" style="margin-left:20%;padding:0px 0px;height:1000px;">
        @RenderBody()
        <hr />
    </div>

</body>

</html>