<h1>TTA Web</h1>


<ul>
    <li>@Html.ActionLink("Sign In", "Signin", "Account")</li>
    <li>@Html.ActionLink("Sign Out", "Signout", "Account")</li>
    <li>@Html.ActionLink("Page 1", "Page1", "ViewAuthorization")</li>
    <li>@Html.ActionLink("Page 2", "Page2", "ViewAuthorization")</li>
</ul>